.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 5px 30px 30px 30px;
  background: whitesmoke;
  border: 1px solid #d5d5d5;
  box-shadow: 1px 2px 12px 2px grey;
}

.team-form button {
  margin-top: 30px;
  font-size: 20px;
  padding: 8px;
  background: #a2e144;
  color: black;
  border: 1px solid #6e9e26;
  border-radius: 6px;
  box-shadow: 2px 6px 6px 0px grey;
  cursor: pointer;
}

.team-form button:active {
  box-shadow: none;
}

.team-form label {
  line-height: 2em; 
}

.team-form input {
  font-size: 20px;
  padding: 5px;
}

.team-members {
  max-width: 400px;
  margin: auto;
  background: whitesmoke;
  padding: 20px;
  box-shadow: 0px 0px 9px 1px grey;
  border-radius: 22px;
  margin-bottom: 30px;
}

.team-members img{
  width: 150px
}